
<#include 'base.ftl'/>
<#macro content>




<form name = "form1"  method="post">
    <div class = "abc" style="background-color: #ffffff;" >
        <div class="form-group">
            <label for="Email">Отзыв</label>
            <input type="text"  name="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Введите отзыв">
            <small id="emailHelp" class="form-text text-muted">Спасибо за покупку, ${name}</small>
        </div>

        <button type="submit"  class="btn btn-secondary">Submit</button>


    </div>



</form>

</#macro>
<@main/>