<#include 'base.ftl'/>



<#macro content>


<form name = "form1"  method="post">
    <div class = "abc" style="background-color: #ffffff;" >
        <div class="form-group">
            <label for="tel">Введите номер телефона, мы свяжемся!</label>
            <input type="tel"  name="tel" class="form-control" id="tel" aria-describedby="emailHelp" placeholder="Введите номер телефона">
            <small id="emailHelp" class="form-text text-muted">Спасибо за покупку, ${name}</small>
        </div>

        <button type="submit"  class="btn btn-secondary">Submit</button>


    </div>



</form>

</#macro>
<@main/>



