<#include 'base2.ftl'/>
<#macro content>

<section class="l-page">

    <div class = "efg" style="background-color: #ffffff;" >


        <!--    <div class="card" style="width: 18rem;">
                <img src="image/hes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>

            </div>
--><div class="form-group col-md-12">
        <div class="card">
            <div class="card1">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src=${imageAva} class="card-img" alt=${nickname}>
                </div>


                <div class="card-body">
                    <div class="row no-gutters">
                        <h5 class="card-title">${fullname}</h5>
                        <table align="center">
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                        <div class = "button1">
                            <a href="/edit">
                                <img src="../img/settings.png" class="card-img1"  >
                            </a>
                        </div>
                        <div class = "button2">
                            <a href="/logout" class="btn btn-secondary">logout</a>
                        </div>

                    </div>

                    <!--   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                     -->  <p class="card-text"><small class="text-muted">Год Рождения = ${age} </small></p>

                </div>
            </div>
            </div>
        </div>
    </div>

</div>
</section>


</#macro>
<@main/>