<#include 'base2.ftl'/>
<#macro content>





<section class="l-page">

    <div class = "efg" style="background-color: #ffffff;" >


        <!--    <div class="card" style="width: 18rem;">
                <img src="image/hes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>

            </div>
--><div class="form-group col-md-12">
        <div class="card">
            <div class="card1">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src=${imageAva} class="card-img" alt=${name}>
                        <p class="card-text"><small class="text-muted">Год Рождения = ${age} </small></p>
                        <p class="card-text"><small class="text-muted">Тип = ${type} </small></p>
                    </div>


                    <div class="card-body">
                        <div class="row no-gutters">
                            <h5 class="card-title">${name}</h5>
                            <h5 class="card-title">${info}</h5>

                        </div>


                        <div class= "bttttn">
                            <a href="/input?idtrans=${id}" class="btn btn-secondary">Написать Отзыв</a>
                            <a href="/sell?idtrans=${id}" class="btn btn-secondary">Купить</a>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class = "fr">

            <#list messages as mes>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <a href="/profile?id=${mes.iduser}">
                        <h2 class="card-title" >${mes.nickname} </h2>
                    </a>

                             <div class="card-group">
                                 <div class="card">

                                <h5>${mes.text}</h5>




                        </div>

                    </div>
                </div>
            </div>
            </#list>


      <#--<!--   <#list messages as mes>-->
            <#--<div class="card">-->
                <#--<div class="card1">-->
                    <#--<div class="row no-gutters">-->
                        <#--<div class="col-md-2">-->
                            <#--<img src=${imagePath} class="card-img" alt=${name}>-->
                        <#--</div>-->


                        <#--<div class="card-body">-->
                            <#--<div class="row no-gutters">-->
                                <#--<a href="/trans?idtrans=${mes.idtrans}">-->
                                    <#--<h5 class="card-title" >${mes.iduser} </h5>-->
                                <#--</a>-->
                                <#--<h5 class="card-title">${mes.text}</h5>-->
                                <#--<table align="center">-->
                                    <#--<tr>-->
                                        <#--<td></td>-->
                                    <#--</tr>-->
                                <#--</table>-->
                                <#--<div class = "button1">-->
                                    <#--<a href="/edit">-->
                                        <#--<img src="../img/settings.png" class="card-img1"  >-->
                                    <#--</a>-->
                                <#--</div>-->

                            <#--</div>-->
                        <#--</div>-->

                    <#--</div>-->
                <#--</div>-->
            <#--</div>-->
         <#--</#list>-->

        </div>

    </div>

</section>


</#macro>
<@main/>