<html>
<head>

</head>
<body>
<#list transports as trans>

    <h5>${trans.name}</h5>
    <h5>${trans.age}</h5>
<h5>${trans.type}</h5>
<h5>${trans.info}</h5>
<h5>${trans.imagePath}</h5>
<img src=${trans.imagePath}>


</#list>



</body>
</html>