body{
	background-color:rgb(211,211,211);
	position:absolute;
	font-family: Arial;
	margin:0 0 0 0;
	padding:0;
	z-index:0;
	width:100%;
}

.navbar{
	position:fixed;
	width:100%;
	height:60px;
	margin:0 0 0 0;
	background-color:rgb(120,124,176);
	color:white;
}

.nav-link{
	color:white;
}

.products{
	margin-top:60px;
	width:100%;
	position:relative;
	z-index:-1;
}

.products a{
	color:black;
}

.product{
	float:left;
	width:25%;
	height:400px;
}

.card-body img{
	height:75%;
}