body{
	background-color:rgb(211,211,211);
	position:relative;
	font-family: Arial;
	margin:0 0 0 0;
	padding:0;
}

.navbar{
	position:fixed;
	width:100%;
	height:60px;
	margin:0 0 0 0;
	background-color:rgb(120,124,176);
	color:white;
}

.nav-link{
	color:white;
}

.login_window{
	position:fixed;
	width:45%;
	margin:10% 38% 0 27%;
	padding:10px;
	background-color:white;
	font-size:20px;
}

.login_window .field{
	width:95%;
	margin-top:3px;
}

.form_row{
	overflow:hidden;
	margin-bottom:8px;
	margin-top:7px;
}

.form_field{
	float:left;
	width:70%;
	margin-left:12%;
}

.checkbox{
	margin-left:12%;
}

.submit_button{
	margin-top:15px;
	margin-bottom:10px;
	margin-left:68%;
	width:90px;
	height:40px;
}