body{
	background-color:rgb(211,211,211);
	position:absolute;
	font-family: Arial;
	margin:0 0 0 0;
	padding:0;
	z-index:0;
	width:100%;
}

.navbar{
	position:fixed;
	width:100%;
	height:60px;
	margin:0 0 0 0;
	background-color:rgb(120,124,176);
	color:white;
}

.nav-link{
	color:white;
}

.avatar img{
	width:200px;
	height:200px;
}

.settings_button img{
	width:20px;
	height:20px;
}

.settings_button img{
	width:20px;
	height:20px;
}

.content{
	z-index:-1;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	position:relative;
	margin-top:60px;
	background-color:white;
}

.information{
	width:90%;
	height:30%;
	margin-top:7%;
	margin-bottom:3%;
	margin-left:5%;
	padding:15px;
	z-index:-1;
}
.cards{
	width:100%;
}

.row{
	width:90%;
	margin-left:5%;
}

.cards .card{
	width:100%;
	z-index:-1;
}

.main-card{
	height:220px;
}

.card-body{

	vertical-align: middle;
	float:right;
	transform: translate(15%,0%);

}





