body{
	background-color:rgb(211,211,211);
	position:absolute;
	font-family: Arial;
	margin:0 0 0 0;
	padding:0;
	z-index:0;
	width:100%;
}

.navbar{
	position:fixed;
	width:100%;
	height:60px;
	margin:0 0 0 0;
	background-color:rgb(120,124,176);
	color:white;
}

.nav-link{
	color:white;
}

.content{
	z-index:-1;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:100%;
	position:relative;
	margin-top:60px;
	background-color:white;
}

.content form{
	margin-top:40px;
	margin-left:100px;
}

.content input{
	width:80%;
	margin-right:10px;
}

.content button{
	margin-top:-5px;
}

.all_results{
	margin-top:65px;
	margin-left:150px;
	width:100%;
	position:relative;
	padding:0 0 0 10px;

}

.all_results a{
	color:black;
}
.all_results h5{
	font-size: 25px;
	font-weight: 200;
	line-height: 40px;
}
