body{
	background-color:rgb(153,153,255);
	position:relative;
	font-family: Arial;
	margin:0;
}

.high_menu{
	position:fixed;
	width:100%;
	height:60px;
	margin:0 0 0 0;
	background-color:rgb(0,0,128);
}

.login_window{
	position:absolute;
	width:25%;
	height:170px;
	margin:0 38% 0 38%;
	margin-top:15%;
	padding:10px;
	background-color:white;
	font-size:14px;
}

.login_window div{
	padding:5px;
}

.login_window .field{
	width:95%;
	margin-top:5px;
}

.login_window .submit_button{
	padding:4px;
}