


form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: Window 2px;


}
body{
    background: rgba(117, 117, 117, 0.24); /* Цвет фона */
}

bord{
    width: 500px;	height: 500px; /* Размеры */
    background: rgba(0, 0, 0, 0.24); /* Цвет фона */
    outline: 2px solid rgba(117, 117, 117, 0.58); /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}

.efg{

    border-radius: 5px; /* Радиус скругления */
    border: 3px solid #fff; /* Белая рамка */
    /*width: 400px;	height: 400px; /* Размеры */
    background: rgba(255, 255, 255, 0); /* Цвет фона */
    padding: 60px; /* Поля вокруг текста */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.bttttn{
    padding: 1.5em 0 0;
}

.form-text{
    top: 50%;
    left: 50%;


}
h2 {
    background: rgba(215, 183, 172, 0.64);
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
    border-radius: 3px; /* Радиус скругления */
}

.text-muted{
    padding: 0 5px;
}

.card-img1{
    width: 25px;	height: 25px; /* Размеры */
}


.card{
    border-color: rgba(117, 117, 117, 0.49);
}

.button1{
    width:50px;
    float:left;
    margin-bottom:20px;
}
table{
    clear:both;
}
@media screen and (min-width:410px){
    .button1{
        float:right;
    }
}

