.img {
    text-align: center; /* Выравнивание по центру */
}

body{
    width: 100%;
    height: 100%;

}

.carousel-inner{
    height: 500px;
}

.carousel-inner img{
    transform: translateY(-9%);
    height: 100%;
}

@media (min-width: 1100px){
    .carousel-inner img{
        width: 100%;
    }
}


.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);

}

@media (max-width: 450px){
    .carousel-caption .display-4{
        font-size: 3em;
    }
}

.jumbotron{
    padding: 1em;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}



.alert{
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

.alert hr{
    border-top: 2px solid silver;
    width: 95%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

.fa-code{color: #e54d26}
.fa-bold{color: #563d7c}
.fa-css3{color: #2163af}

.fa-code, .fa-bold, .fa-css3{
    font-size: 4em;
    margin: 1em;
}

#fixed{
    height: 400px;
    border-top: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    background: url("../img/b1.jpg") no-repeat center center fixed;
    background-blend-mode: multiply;
    background-color: lightblue;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#recBtn{
    margin-bottom: 20px;
}










